body {
    color: #1f6372;
    margin: 5% 35%;
}

fieldset {
    border: 1px solid #3bbfdc;
    border-radius: 4px;
    padding: 28px 16px;
    margin-bottom: 32px;
}

#senha, #email, #celular {
    margin-top: 24px;
}

button {
    cursor: pointer;
    height: 35px;
    width: 115px;
    border-radius: 2px;
    font-weight: 600;
    color: black;
}

#cadastro, #voltar {
    border: 1px solid #3bbfdc;
    background-color: transparent;
    color: #3bbfdc;
}

#entrar, #cadastrar {
    border: none;
    background-color: #3bbfdc;
    color: white;
}